.edit_button {
    display: inline-flex;
    padding: 6.4px 15px;
    justify-content: center;
    align-items: center;
    gap: 10px;
    flex-shrink: 0;
    border-radius: 4px;
    border: 1px solid #5373E3;
    background-color: #fff;
    box-shadow: 0px 2px 0px 0px rgba(0, 0, 0, 0.02);
    color: #5373E3;
    font-size: 14px;
    font-weight: 400;
}

.edit_button_icon {
    width: 14px;
    height: 14px;
}